.about{
    margin: 100px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 92%;
    background: transparent;
    margin-bottom: 80px;
}
.about-left{
    flex-basis: 40%;
    background: transparent;
}
.about-right{
    flex-basis: 56%;
    background: transparent;
}
.about-img{
    width: 100%;
    border-radius: 0px;
}
.para1{
    color: #ffffff;
    font-size: 45px;
    font-weight:bolder;
    margin-top: -20px;
}
.para2{
    margin-bottom: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 2.3;
    color: #ffffff;
    font-size: 16.2px;
    font-weight: 250;
}
.abt-btn{
    cursor: pointer;
    padding-block: 1em;
    width: 20%;
    border-radius: 0px;
    border: 1px solid white;
    color: white;
    font-size: 15px;
    font-weight: 500;
    background: transparent;
    text-align: center;
    margin: 0 auto;
}