nav{
    width: 100%;
    /*background: rgba(0, 15, 152, 0.1);*/
    background: transparent;
    color: white;
    padding: 1px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
.title{
    width: 450px;
    height: 300px;
    margin-top: -100px;
    margin-bottom: -100px;
    margin-left: -85px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 30px;
    font-size: 16px;
}
.dark-nav{
    background: linear-gradient(to right,black,#000016,#02021e, #000016, black);/*linear-gradient(to right,black,#090912,#131319, #090912);*/
    background-size: 100% 100%;  
    transition: 0.5s;
    opacity: 0.95;
    animation: color 12s ease-in-out infinite;  
    z-index: 10;
}
@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
/*.btn1{
    background: transparent;
    color: white;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    border: 2px solid;
    border-bottom: blue;
    /*cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: end;
    justify-content: right;
}*/
.contact{
    margin-right: 65px;
}
